.bundle
.env
.env.*
.git
.gitattributes
.gitignore
.github
node_modules
neo4j
.DS_Store
*.swp
*~
postgres
postgres14
redis
elasticsearch
meilisearch
chart
vendor
vendor/bundle
tmp
log
public/assets
public/packs
public/packs-test
public/system
coverage
build
.go-buildcache
.go-modcache
.go-tmp
bin/paon
bin/paon-admin
bin/paon-cutover
bin/paon-meili-deploy
bin/paon-migrate
