.bundle
.env
.env.*
.git
.gitattributes
.gitignore
.github
node_modules
neo4j
.DS_Store
*.swp
*~
postgres
postgres14
redis
elasticsearch
chart
vendor/bundle
tmp
public/assets
public/packs
public/system
coverage
build
