@function hex-color($color) {
  @if type-of($color) == 'color' {
    $color: str-slice(ie-hex-str($color), 4);
  }

  @return '%23' + unquote($color);
}

body {
  --text-x-direction: 1;

  font-family: $font-sans-serif, sans-serif;
  background: darken($ui-base-color, 7%);
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: $primary-text-color;
  text-rendering: optimizelegibility;

  // Disable kerning for Japanese text to preserve monospaced alignment for readability
  &:not(:lang(ja)) {
    font-feature-settings: 'kern';
  }

  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0%);
  -webkit-tap-highlight-color: transparent;

  &.system-font {
    // system-ui => standard property (Chrome/Android WebView 56+, Opera 43+, Safari 11+)
    // -apple-system => Safari <11 specific
    // BlinkMacSystemFont => Chrome <56 on macOS specific
    // Segoe UI => Windows 7/8/10
    // Oxygen => KDE
    // Ubuntu => Unity/Ubuntu
    // Cantarell => GNOME
    // Fira Sans => Firefox OS
    // Droid Sans => Older Androids (<4.0)
    // Helvetica Neue => Older macOS <10.11
    // $font-sans-serif => web-font (Roboto) fallback and newer Androids (>=4.0)
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      $font-sans-serif,
      sans-serif;
  }

  &.app-body {
    box-sizing: border-box;
    padding: 0;

    &.layout-single-column {
      height: auto;
      min-height: 100vh;
      overflow-y: scroll;
    }

    &.layout-multiple-columns {
      position: absolute;
      width: 100%;
      height: 100%;
      padding-bottom: env(safe-area-inset-bottom);
    }

    &.with-modals--active {
      overflow-y: hidden;
    }
  }

  &.lighter {
    background: $ui-base-color;
  }

  &.with-modals {
    overflow-x: hidden;
    overflow-y: scroll;

    &--active {
      overflow-y: hidden;
    }
  }

  &.player {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & > div {
      height: 100%;
    }

    .video-player video {
      width: 100%;
      height: 100%;
      max-height: 100vh;
    }

    .media-gallery-wrapper {
      position: relative !important;
    }

    .media-gallery {
      margin-top: 0;
      height: 100% !important;
      border-radius: 0;
    }

    .media-gallery__item {
      border-radius: 0;
    }
  }

  &.embed {
    background: lighten($ui-base-color, 4%);
    overflow: hidden;
    margin: 0;
    padding-bottom: 0;

    .container {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &.admin {
    background: darken($ui-base-color, 4%);
    padding: 0;
  }

  &.error {
    position: absolute;
    text-align: center;
    color: $darker-text-color;
    background: $ui-base-color;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .dialog {
      vertical-align: middle;
      margin: 20px;

      &__illustration {
        img {
          display: block;
          max-width: 470px;
          width: 100%;
          height: auto;
          margin-top: -120px;
        }
      }

      h1 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }
    }
  }
}

a {
  &:focus {
    border-radius: 4px;
    outline: $ui-button-focus-outline;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

button {
  font-family: inherit;
  cursor: pointer;

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.app-holder {
  &,
  & > div,
  & > noscript {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    outline: 0 !important;
  }

  & > noscript {
    height: 100vh;
  }
}

.layout-single-column .app-holder {
  &,
  & > div {
    min-height: 100vh;
  }
}

.layout-multiple-columns .app-holder {
  &,
  & > div {
    height: 100%;
  }
}

.error-boundary,
.app-holder noscript {
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: lighten($error-red, 4%);
  text-align: center;

  & > div {
    max-width: 500px;
  }

  p {
    margin-bottom: 0.85em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $highlight-text-color;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &__footer {
    color: $dark-text-color;
    font-size: 13px;

    a {
      color: $dark-text-color;
    }
  }

  button {
    display: inline;
    border: 0;
    background: transparent;
    color: $dark-text-color;
    font: inherit;
    padding: 0;
    margin: 0;
    line-height: inherit;
    cursor: pointer;
    outline: 0;
    transition: color 300ms linear;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &.copied {
      color: $valid-value-color;
      transition: none;
    }
  }
}

.logo-resources {
  // Not using display: none because of https://bugs.chromium.org/p/chromium/issues/detail?id=258029
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  z-index: -1000;
}

// NoScript adds a __ns__pop2top class to the full ancestry of blocked elements,
// to set the z-index to a high value, which messes with modals and dropdowns.
// Blocked elements can in theory only be media and frames/embeds, so they
// should only appear in statuses, under divs and articles.
body,
div,
article {
  .__ns__pop2top {
    z-index: unset !important;
  }
}

.plusminus-searchbox__container {
  width: 100%;
  margin: 1em 0 0.5em;
  padding: 0;
  border: 0;
  color: $inverted-text-color;
  background: $simple-background-color;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  height: 2.5em;
  font-size: 14px;

  * {
    border: 0;
    pointer-events: none;
    height: 100%;
    color: $inverted-text-color;
    background: $simple-background-color;
    font-size: 14px;
  }

  input {
    flex: 1;
    padding: 0 1em;
    text-overflow: ellipsis;
  }

  div {
    display: flex;
    align-items: center;
    padding: 0 1.5em;
    background: $ui-highlight-color;
    color: $primary-text-color;
  }
}

.markdown-body {
  background-color: transparent !important;
  font-size: inherit !important;
  color: unset !important;

  ol li {
    list-style-type: decimal !important;
  }

  ul li {
    list-style-type: disc !important;
  }

  img[src^='/emoji'],
  img[src*='/custom_emojis/images/'] {
    height: 20px !important;
    background-color: transparent !important;
  }

  p img {
    vertical-align: sub;
  }

  .code code {
    color: rgb(171, 178, 191);
  }

  .prism {
    padding: 0 !important;

    .syntax-highlighter {
      margin: 0 !important;
    }

    .syntax-highlighter,
    .syntax-highlighter * {
      background-color: transparent !important;
    }
  }
}

img[src^='/emoji'],
img[src*='/custom_emojis/images/'] {
  width: auto !important;
}

.jumbomoji {
  img[src^='/emoji'],
  img[src*='/custom_emojis/images/'] {
    height: 36px !important;
    margin: 4px 0 0 !important;
  }
}

.status__quote {
  position: relative;
  border: 1px solid lighten($ui-base-color, 8%);
  border-radius: 4px;
  margin-top: 1em;
  overflow: hidden;
  color: $primary-text-color;
  z-index: 0;
}

.status__quote__container {
  text-decoration: none;
}

.status__quote--error {
  color: $lighter-text-color;

  .status__quote__inner {
    line-height: 1.5;
  }

  .link-button {
    margin-inline-start: 0.25em;
  }
}

.status__quote__icon {
  position: absolute;
  top: -16px;
  right: -24px;
  font-size: 96px;
  opacity: 0.08;
  rotate: -18deg;
  z-index: -1;
}

.status__quote__inner {
  padding: 1rem;
}

.status__quote__inner__header {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  text-decoration: none;
}

.status__quote__inner__header .display-name {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.status__quote__inner__header .display-name__account,
.status__quote__inner__footer {
  color: $lighter-text-color;
}

.status__quote__inner__content,
.status__quote__inner__footer {
  margin-top: 0.5em;
  word-break: break-word;
}

.status__quote__inner__footer a {
  color: inherit;
}

.status__quote__nested-link {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.75em;
  color: $lighter-text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $highlight-text-color;
    text-decoration: underline;
  }
}

.status__quote {
  .status-banner,
  .media-gallery,
  .audio-player,
  .video-player {
    margin-top: 0.75em;
  }
}
